In [2]:
num = [45,34,23,67,45,23,12,64,24,87,34]

1. Write a Python program to find sum of elements in list?

In [3]:
print(sum(num))

458

2. Write a Python program to Multiply all numbers in the list?

In [4]:
from numpy import prod 
print(prod(num))

133046989091020800


3. Write a Python program to find smallest number in a list?

In [5]:
print(min(num))

12


4. Write a Python program to find largest number in a list?

In [6]:
print(max(num))

87


5. Write a Python program to find second largest number in a list?

In [7]:
print(sorted(num)[-2])

67


6. Write a Python program to find N largest elements from a list?

In [8]:
n = int(input("Enter the number: "))
print(sorted(num, reverse = True)[n-1])

Enter the number: 5
45

7. Write a Python program to print even numbers in a list?

In [9]:
print([i for i in num if i%2 == 0])

[34, 12, 64, 24, 34]


8. Write a Python program to print odd numbers in a List?

In [10]:
print([i for i in num if i%2 == 1])

[45, 23, 67, 45, 23, 87]


9. Write a Python program to Remove empty List from List?

In [12]:
value = [[1,2,3], [2,3,4], [4,5,6], []]
new = [i for i in value if len(i) != 0]
print(new)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

10. Write a Python program to Cloning or Copying a list?

In [14]:
val_2 = num.copy()
print(val_2)

[45, 34, 23, 67, 45, 23, 12, 64, 24, 87, 34]

11. Write a Python program to Count occurrences of an element in a list?

In [15]:
print(num.count(23))

2