1. Write a Python program to Extract Unique values dictionary values?

In [3]:
val = {
    'tiger':12,
    'deer':12,
    'lion':15,
    'giraffe':19,
    'koala':19,
    'dog':25,
    'cat':14,
    'elephant':16,
}
unique = list(set(i for i in val.values()))
print(unique)

[12, 14, 15, 16, 19, 25]

2. Write a Python program to find the sum of all items in a dictionary?

In [4]:
val = {
    'a':12,
    'b':43,
    'c':23,
    'd':54,
    'e':16,
    'f':52,
    'g':72,
}
print(sum(i for i in val.values()))

272

3. Write a Python program to Merging two Dictionaries?

In [5]:
val_1 = {'a':12,'b':34,'c':52,'d':54,'e':12,'f':64,'g':36}
val_2 = {'h':23,'i':64,'j':46,'k':15,'l':64,'m':27,'n':62,'o':83}

new = val_1 | val_2
print(new)

{'a': 12, 'b': 34, 'c': 52, 'd': 54, 'e': 12, 'f': 64, 'g': 36, 'h': 23, 'i': 64, 'j': 46, 'k': 15, 'l': 64, 'm': 27, 'n': 62, 'o': 83}

4. Write a Python program to convert key-values list to flat dictionary?

In [9]:
country = {
    'states':['rajasthan','maharashtra','west bengal', 'tamil nadu'],
    'capitals':['jaipur', 'mumbai', 'kolkata', 'chennai']
}

flatt = dict(zip(country['states'], country['capitals']))
print(flatt)

{'rajasthan': 'jaipur', 'maharashtra': 'mumbai', 'west bengal': 'kolkata', 'tamil nadu': 'chennai'}

5. Write a Python program to insertion at the beginning in OrderedDict?

In [12]:
numbers = {
    'two':2,
    'three':3,
    'four':4,
    'five':5,
    'six':6,
    'seven':7
}
new = {'one':1}
new.update(numbers)
print(new)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7}

6. Write a Python program to check order of character in string using OrderedDict()?

In [22]:
from collections import OrderedDict
val = 'hello guys'
pattern = 'eos'

new = OrderedDict.fromkeys(val)

def check(val, pattern):
  a = 0 
  for key,values in new.items():
    if key == pattern[a]:
      a += 1
    if a == len(pattern):
      return True
  return False

print(check(val,pattern))

True

7. Write a Python program to sort Python Dictionaries by Key or Value?

In [30]:
from collections import OrderedDict
val = {5:12,3:54,1:62,7:34,8:26,23:11}

new = OrderedDict(sorted(val.items()))
print(new)

OrderedDict([(1, 62), (3, 54), (5, 12), (7, 34), (8, 26), (23, 11)])